# How to select on Pandas depending if we have labels or index

Creation d'un Dataframe de test

In [41]:
import pandas as pd
df=pd.DataFrame({'A': [1,2,3],'B': [4,5,6]},index=list('abc'))
df.head()

   A  B
a  1  4
b  2  5
c  3  6

## I. Selecting Column/Row by label/index

### 1) Selecting a column its label

In [42]:
df.A

a    1
b    2
c    3
Name: A, dtype: int64

### 2) Selecting a column by index

In [43]:
df.iloc[:,0]

a    1
b    2
c    3
Name: A, dtype: int64

### 3) Selecting a row by label

In [44]:
df.loc['a']

A    1
B    4
Name: a, dtype: int64

### 4) Selecting a row by index

In [45]:
df.iloc[0]

A    1
B    4
Name: a, dtype: int64

## II. Selecting cell with label/index/both

### 1) Selecting and replacing cell with labels: 
- use loc

Example: Select the value "1" with labels

In [46]:
#SELECTING
value1=df.loc[['a'],['A']]
print(value1)
#REPLACING
df.loc[['a'],['A']]=100
df.head()

   A
a  1

     A  B
a  100  4
b    2  5
c    3  6

### 2) Selecting and replacing cell with index:
- use iloc

Example: Select the value "100" with index

In [47]:
#SELECTING
value2=df.iloc[[0],[1]]
print(value2)
#REPLACING
df.iloc[[1],[0]]=200
df.head()

   B
a  4

     A  B
a  100  4
b  200  5
c    3  6

### 3) Selecting and replacing cell with index and labels:
- use loc with: *dfd.index[[0, 2]]*
- use iloc with: *dfd.columns.get_loc('A')*
- select column by label and then iloc

In [54]:
#METHOD 1
#SELECTING
value3=df.loc[df.index[[0]], 'B']
print(value3)
#REPLACING
df.loc[df.index[[0]], 'B']=400
df.head()

a    500
Name: B, dtype: int64

     A    B
a  100  400
b  200    5
c    3    6

In [55]:
#METHOD 2
#SELECTING
value4=df.iloc[[1], df.columns.get_loc('B')]
print(value4)
#REPLACING
df.loc[df.index[[1]], 'B']=500
df.head()

b    5
Name: B, dtype: int64

     A    B
a  100  400
b  200  500
c    3    6

In [57]:
#METHOD 3
#SELECTING
value5=df.B.iloc[2]
print(value5)
#REPLACING
df.B.iloc[2]=600
df.head()

6

     A    B
a  100  400
b  200  500
c    3  600